<html>
  <head>
    <title>またお会いしましょう!</title>
  </head>
  <body>
    <h1>さようなら!</h1>
    <p>
      ご訪問ありがとうございました。
    </p>
    <p>
      <%= link_to "こんにちは", :action => "hello" %>と表示します。
    </p>
  </body>
</html>
