<html>
  <head>
    <title>またお会いしましょう!</title>
  </head>
  <body>
    <h1>さようなら!</h1>
    <p>
      ご訪問ありがとうございました。
    </p>
    <p>
      <a href="/say/hello">こんにちは!</a>と表示します。
    </p>
  </body>
</html>
