<html>
  <head>
    <title>Hello, Rails!</title>
  </head>
  <body>
    <h1>Railsからこんにちは!</h1>
    <ul>
      <li>足し算: <%= 1+2 %> </li>
      <li>連結: <%= "cow" + "boy" %> </li>
      <li>1時間後の時刻: <%= 1.hour.from_now %> </li>
    </ul>
    <% 3.times do %>
    ホー!<br />
    <% end %>
    メリークリスマス!
  </body>
</html>
