<html>
  <head>
    <title>Hello, Rails!</title>
  </head>
  <body>
    <h1>Railsからこんにちは!</h1>
    <p>
      現在の時刻は、 <%= @time %> です。
    </p>
    <p>
      <%= link_to "さようなら!", :action => "goodbye" %>と表示します。
    </p>
  </body>
</html>
