<h1>Admin#login</h1>
<p>Find me in app/views/admin/login.html.erb</p>

<div class="depot-form">
  <% form_tag do %>
  <fieldset>
    <legend>ログインしてください</legend>

    <div>
      <label for="name">名前:</label>
      <%= text_field_tag :name, params[:name] %>
    </div>

    <div>
      <label for="password">パスワード:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div>
      <%= submit_tag "ログイン" %>
    </div>
  </fieldset>
  <% end %>
</div>
